.hitBar {
    display: flex;
    flex-flow: nowrap;
    background: url(/resources/sprites/scoreImages/hit/hit.png) no-repeat;
    position: absolute;
    top: 95vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;    width: 525px;
    height: 15vh;
    width: 33vw;
    z-index: 20;
}
#duckHitBar1{
    background: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 12vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar2{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 14vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;
}#duckHitBar3{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 16vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar4{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 18vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar5{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 20vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar6{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 22vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar7{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 24vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar8{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 26vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar9{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 28vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
#duckHitBar10{
    background-image: url(/resources/sprites/scoreImages/hit/duckwhite.png);
    position: absolute;
    top: 4vh;
    left: 30vw;
    transform: translate(-50%, -50%);
    background-size: 100% 100%;
    width: 2vw;
    height: 4vh;
    z-index: 21;

}
.score {
    background: url(/resources/sprites/scoreImages/score.png) no-repeat;
    position: absolute;
    top: 94.5vh;
    left: 75vw;
    background-size: 100% 100%;
    transform: translate(-50%, -50%);
    width: 15vw;
    height: 14vh;
    z-index: 20;
}
.bullets {
    background: url(/resources/sprites/scoreImages/shot/auto/shotAuto.png) no-repeat;
    position: absolute;
    top: 89vh;
    left: 20vw;
    background-size: 100% 100%;
    width: 15vw;
    height: 12vh;
    z-index: 20;
}
#numOfBullets {
    background: url(/resources/sprites/scoreImages/shot/shot5.png);
    position: absolute;
    top: 1vh;
    left: 4vw;
    background-size: 100% 100%;
    width: 7vw;
    height: 5vh;
    z-index: 21;
}
.round {
    background: url(/resources/sprites/scoreImages/round.png) no-repeat;
    position: absolute;
    top: 91vh;
    left: 13vw;
    background-size: 100% 100%;
    width: 8vw;
    height: 8vh;
    z-index: 20;
}   

