
#dog{
    grid-row: 1;
    grid-column: 1;
    position: absolute;
    top: 50rem;
    transform: scale(3);

}


.walk {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    z-index: 30;
	width: 60px;
	height: 45px;
    animation: walk 300ms steps(3) infinite, 7s slideIn;    
}

@keyframes walk {
    0% {
        background-position-x: -5px;
    }
    100% {
        background-position-x: -180px;
    }
}
@keyframes slideIn {
    from {
        margin-right: 10%
    }
    to {
        margin-left: 45%;
    }
}

.jump {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    z-index: 30;
    margin-left: 42%;
	width: 60px;
	height: 45px;
    animation: jump 250ms steps(2) forwards, 1s slideUp;
}

@keyframes jump {
    0% {
        background-position: -5px -59px;
    }
    100% {
        background-position: -135px -59px;
        margin-top: -10rem;
        margin-left: 60rem;
    }
}
@keyframes slideUp {
    from {
        margin-right: 45%
    }
    to {
        margin-left: 55%;
    }
}

.smell {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    z-index: 30;
    margin-left: 42%;
	width: 60px;
	height: 45px;
    animation: smell 900ms steps(2) infinite;
}

@keyframes smell {
    0% {
        background-position-x: -184px;
    }
    100% {
        background-position-x: -310px;
    }
}

.laugh {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    margin-left: 42%;
    margin-top: -9rem;
	width: 60px;
	height: 45px;
    z-index: 30;
    animation: laugh 400ms steps(2) infinite, 500ms popIn;
}

@keyframes laugh {
    0% {
        background-position: -197px -63px;
    }
    100% {
        background-position: -315px -63px;
    }
}

.hold-one-duck {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    background-position-x: -315px;
    margin-left: 42%;
    margin-top: -11rem;
	width: 60px;
	height: 45px;
    z-index: 30;
    animation: 500ms popIn;
}
@keyframes popIn {
    0% {
        margin-top: 1%;
        z-index: 0;   
    }
    100% {
        z-index: 10;
    }
}
.hold-two-ducks {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    background-position: -319px -63px;
    margin-left: 42%;
    margin-top: -11rem;
	width: 60px;
	height: 45px;
    z-index: 30;
    animation: 500ms popIn;
}
