
#dog{
    grid-row-start: 1;
    grid-column-start: 1;
    position: absolute;
    transform: scale(3);
}


.walk {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    z-index: 30;
    bottom: 25%;
	width: 60px;
	height: 45px;
    animation: walk 600ms steps(3) infinite, 9s slideIn;    
}

@keyframes walk {
    0% {
        background-position-x: -5px;
    }
    100% {
        background-position-x: -180px;
    }
}
@keyframes slideIn {
    from {
        margin-right: 10%
    }
    to {
        margin-left: 45%;
    }
}

.jump {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    z-index: 30;
    bottom: 25%;
    margin-left: 42%;
	width: 60px;
	height: 45px;
    animation: jump 250ms steps(2) forwards, 3s slideUp, 3s slideDown;
}

@keyframes jump {
    0% {
        background-position: -5px -59px;
    }
    100% {
        background-position: -135px -59px;
        bottom: 37%;
    }
}
@keyframes slideUp {
    0% {
        margin-left: 42%;
    }
    50% {
        margin-left: 50%;
        bottom: 40%;
    }
    100%{
        margin-left: 55%;
        bottom: 45%;
    }
}
@keyframes slideDown {
    0% {
        margin-left: 50%;
    }
    100% {
        margin-left: 53%;
        bottom: 30%;
        z-index: 5;
    }
}

.smell {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    z-index: 30;
    bottom: 25%;
    margin-left: 42%;
	width: 60px;
	height: 45px;
    animation: smell 900ms steps(2) infinite;
}

@keyframes smell {
    0% {
        background-position-x: -184px;
    }
    100% {
        background-position-x: -310px;
    }
}

.laugh {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    margin-left: 42%;
    bottom: 20%;
	width: 60px;
	height: 45px;
    z-index: 1;
    animation: laugh 400ms steps(2) infinite, popIn 2s linear,  2s popDown 2s linear;
    
}

@keyframes laugh {
    0% {
        background-position: -197px -63px;
    }
    100% {
        background-position: -315px -63px;
    }
}

.hold-one-duck {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    background-position-x: -315px;
    margin-left: 42%;
    bottom: 20%;
	width: 60px;
	height: 45px;
    z-index: 1;
    animation: popIn 2s linear,  2s popDown 2s linear;
}
@keyframes popIn {
    0% {
        bottom: 20%;   
    }
    20%{
        bottom: 37%;
    }
    100% {
        bottom: 38%;
    }
}
@keyframes popDown {
    0% {
        bottom: 38%;   
    }
    100%{
        bottom: 20%;
    }
}
.hold-two-ducks {
	background: url('/resources/sprites/duck-hunt-sprite.png');
    background-position: -319px -63px;
    margin-left: 42%;
    bottom: 20%;
	width: 60px;
	height: 45px;
    z-index: 1;
    animation: popIn 2s linear,  2s popDown 2s linear;
}
