* {
    margin: 0;
    padding: 0;
}

.game {
    position: relative;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    height: 100vh;
    cursor: crosshair;
}

.sky {
    grid-row: 1;
    grid-column: 1;
    background-image: url(/resources/sprites/background/sky1.png);
    background-size: 100% 100%;
    z-index: 0;
}

.bushes {
    grid-row: 1;
    grid-column: 1;
    background-image: url(/resources/sprites/background/bushes.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 10;
    pointer-events: none;
}

.welcomeScreen {
    background-color: bisque;
    height: 100vh;
}

#startGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    font-size: 20px;
    cursor: pointer;
}